@import "styles/variables/variables";

.container {
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  min-width: 15%;
  font-size: 18px;
}


@media screen and (max-width: $galaxy-fold) {
  .title {
    min-width: 15%;
    font-size: 13px;
  }

  .helper_text {
    & p {
      font-size: 10px;
    }
  }
}
