@import "styles/variables/variables";

.container {
  padding: 20px 20px 90px 20px;
}

.user_container {
  border: 2px solid $main-green;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}

.user_info_container {
  display: flex;
}

.user_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & span {
    font-size: 20px;
    font-weight: 600;
  }
}

.user_extra_info_container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  & span {
    margin-left: 5px;
  }
}

.point_container {
  border-radius: 15px;
  border: 1px solid green;
  padding: 20px;
  background-color: $main-green;
  &  span{
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
}

.point_footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history_container{
  margin-top: 40px;
  & h3{
    margin-bottom: 30px;
  }
}