@import "styles/variables/variables";

.container{
  width: 28rem;
}

.tab_container{
  margin-bottom: 10px;
}

.detail_button{
  font-size: 10px;
  display: inline-block;
  border: 1px solid $main-green;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.scroll{
  scroll-behavior: smooth;
  height: 100vh;
  margin-bottom: 10px;
}

@media screen and (max-width: $phone-width) {
  .container{
    width: 100%;
  }

}
