@import "styles/variables/variables";

.container{
  padding: 0 20px;
  height: calc(100vh - 60px);
  margin-bottom: 80px;
}

.title{
  margin: 40px 0 40px 0;
}

.button_container{
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 28rem;
  padding: 0 20px 60px 20px;
}

@media screen and (max-width: $phone-width) {
  .button_container{
    width: 100%;
  }
}
