@import "styles/variables/variables";

.button_container{
  position: fixed;
  bottom: 0;
  width: 28rem;
  background-color: white;
  padding: 10px 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $phone-width) {
  .button_container{
    width: 100%;
  }
}

