@import "styles/variables/variables";

.container {
  position: fixed;
  top: 0;
  display: flex;
  width: 28rem;
  justify-content: space-between;
  align-content: center;
  height: max-content;
  background-color: white;
  z-index: 999;
}

.logo_box {
  position: relative;
  display: flex;
  margin-top: 10px;
  width: 60px;
  height: 20px;
  align-content: center;
  margin-left: 10px;
  &:hover{
    cursor: pointer;
  }
}

.box{
  width: 10%;
}

.blank_box {
  height: 60px;
}

#logo {
  display: block;
}

@media screen and (max-width: $phone-width){
  .container {
    width: 100%;
  }
}