@import "styles/variables/variables";

.fix{
  width: 28rem;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: $phone-width){
  .fix{
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

.container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}