@import "styles/variables/variables";

.container {
  height: 100vh;
  padding: 0 20px;
}

.box{
  margin-bottom: 30px;
}

.project_box_bottom {
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 14px;
  transform: translateY(-5px);
}

.order_code {
  opacity: 0.4;
  font-size: 14px;
  margin-bottom: 10px;
}

.order_content{
  display: flex;
}

.order_thumbnail{
  width: 10rem;
  margin-right: 10px;
}

.order_title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.order_price{
  font-weight: 700;
  color: $main-green;
}

.order_content_col{
  margin-bottom: 5px;
}

.order_date {
  margin-top: 10px;
}

.order_footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.order_footer_title{
  color: darkolivegreen;
}

.funding_status_box{
  display: flex;
  justify-content: start;
}

.funding_project_status{
  background-color: $main-green;
  font-size: 13px;
  color: #F9F9F9;
  padding: 2px 5px;
  border-radius: 5px;
}

@media screen and (max-width: $phone-width) {
  .order_thumbnail{
    width: 50%;
  }

  .mobile_font_size {
    font-size: 14px;
  }
}
