@import "styles/variables/variables";

.news_box{
  border-radius: 15px;
  width: 84px;
  height: 84px;
  &:hover{
    cursor: pointer;
  }
}

.news_text{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.blue{
  background-color: #A5BEFF;
}

.red{
  background-color: #FFBAA5;
}

.yellow{
  background-color: #F8FA9C;
}

@media screen and  (max-width: $galaxy-fold){

  .news_box{
    width: 76px;
    height: 76px;
    &:hover{
      cursor: pointer;
    }
  }

  .news_text{
    font-size: 14px;
  }

}
