.kakao_banner_container{
  width: 100%;
  padding: 0 15px 0 15px;
  display: block;
  margin-bottom: 30px;
}

.title{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #C9C9C9;
}

.column_container{
  padding: 0 20px;
  margin-bottom: 50px;
}

.margin_for_bottom{
  margin-bottom: 100px;
}