@import '../styles/variables/variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  max-width: 28rem;
  min-height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: $phone-width) {
  body{
    min-width:100%;
  }
}

