@import "../styles/variables/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 40px;

}

.box {
  width: 100%;
  height: 14rem;
  border-radius: 20px;
  padding: 15px 20px 0 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  &:hover{
    cursor: pointer;
  }
}

.image_box {
  display: block;
  position: relative;
  height: 8rem;
  margin-bottom: 10px;
}

.image {
  border-radius: 10px;
}

.title_box{
  margin-bottom: 5px;
}

.title {
  font-size: 12px;
  font-weight: bold;
}

.location {
  font-size: 10px;
}

.progress_info_box {
  height: max-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.percentage {
  height: 100%;
  font-size: 12px;
  color: $main-green;
  text-align: center;
}

.day {
  display: flex;
  align-content: center;
}

.day_text {
  margin-left: 5px;
  font-size: 12px;
  color: red;
}

@media screen and (max-width: $phone-width) {
  .container {
    padding: 0 20px;
  }

  .box {
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: $galaxy-fold) {
  .title {
    font-size: 10px;
  }

  .location {
    font-size: 8px;
  }
}



